.title{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
.box{
    border: 2px solid #ececec;
    height: 400px;
    overflow-x: auto;
    max-width: 100%;
}
.graph-name{
    text-align: center;
    margin-top:-10px;
    font-size:15px;
}
.graph-detail{
    width: 530px;
    margin-left: auto;
    margin-right: auto;
}
.sizeWidth{
    width: 100%;
}
.line-detail{
    margin-left: -50px;
}