.mainBlock{
    background-color: white;
    border-radius: 8px;
    width: 250px;
    padding: 10px;
    height: 30px;
    margin-bottom: 10px;
    outline: none !important;
}
.MuiInputBase-input:focus{
    outline: none !important;
    border: none;
}
.MuiInputBase-input{
    outline: none !important;
    border: none;
}
