.map-section{
    width:100%;
    height: 50vh;
    background-color: #ececec;
    margin-top: 1%;
    overflow-x: auto;
    overflow-y: auto;
}
.section {
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;

  }
  
  .section::-webkit-scrollbar {
    width: 20px;
  }
  
  .section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
  }
  .graph-section{
    margin-top:2%;
  }
  .row-distance{
    margin-top:2% !important;
  }
  .container{
    margin-bottom: 5%;
  }
