*{
    font-family: 'Rubik', sans-serif;
}
.navMain{
    background-color: #343A40;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
}
.left-nav{
    display: flex;
}
.right-nav{
    display: flex;
    color: #FFFFFF !important;
    padding: 20px;
    align-items: center;
    font-size:20px;
    width: 25%;
}
.nav-link{
    color: white !important;
}
.logo{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    color: #FFFFFF;
}

a{
    color: white ;
    text-decoration: none !important;
    
}
.default{
    color: white;
    padding-right: 15px;
}
.default:hover{
    color: gray;
}
.active{
    color: orange;
    padding-right: 15px;
}