*{
    font-family: 'Rubik', sans-serif;
}
.containChart{
    width: 100%;
    border-radius: 12px;
    background-color: #343A40;
    height: min-content;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    min-height: 604.8px;
}
.top-content{
    display: flex;
    padding: 15px 15px 0px 15px;
    vertical-align: middle;
}
.top-content .header-font{
    font-size: 15px;
    display: flex;
    
}
.btn-chart{
    width: 80px;
    padding: 3px;
    border-radius: 4px;
    color: white;
    background-color: #343A40;
    border: none;
    margin-right: 10px;
}
.btn-sorting{
    width:120px;
    padding:0px !important;
    border-radius: 4px;
    margin-right: 20px;
}
.type-sorting{
    width:auto;
    padding:0px !important;
    margin-right: 10px;
    cursor: pointer;
}
.btn-sorting-text{
    width:auto;
    padding-top:4px;
    border-radius: 4px;
    margin-right: 10px;
    color: orange;
}



.btn-chart:hover{
    width: 80px;
    padding: 3px;
    border-radius: 4px;
    color: black;
    background-color: #F39C12;
    border: none;
    margin-right: 10px;
    transition: 0.3s;
}
.active-btn{
    width: 80px;
    padding: 3px;
    border-radius: 4px;
    color: black;
    background-color: #F39C12;
    border: none;
    margin-right: 10px;
    transition: 0.3s;
}
.bar-header{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
}
.typeBar-active{
    background-color: #F39C12;
    display: block;
    width: 100%;
    padding: 5px;
    user-select: none;
    color: black;
}
.typeBar-non-active{
    background-color: #343A40;
    display: block;
    width: 100%;
    padding: 5px;
    color: white;
}
.btm-content{
    height: 100%;
}
.disableButton{
    width: 80px;
    margin-left: 5px;
    padding: 3px;
    border-radius: 4px;
    background-color: #343A40;
    color:orange;
    border: 1px solid orange;
    user-select: none;
    cursor: default !important;
}
.sortContainer .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    color: orange !important;
    /* border-bottom:2px solid orange !important */
}
.sortContainer .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
    fill: orange !important;
}
.sortContainer .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    background-color: #343A40 !important;
    color: rgb(255, 165, 0) !important;
}

.sortContainer .css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon{
    fill: orange !important;
}
.sortContainer .css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root{
    border-bottom: 2px solid transparent !important;
    outline:  none !important;
}
.sortContainer .css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root{
    border-bottom: 2px solid orange !important;
}

.sortContainer .css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root:after{
    border: 0px !important;
}
.MuiPaper-root{
    background-color: #343A40 !important;
    padding-top: 0px !important;
    color: white !important;
    border-radius:0px 0px 8px 8px !important;
}
.MuiTouchRipple-root .css-8je8zh-MuiTouchRipple-root:hover{
    background-color: red !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected{
    background-color: rgb(227, 147, 0) !important;
}