.box-text .MuiGrid-container{
    width: 350px;
}
.grid-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 5px;
}
.box-select{
    
    font-size: 18px;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 12px;
}
.option-active{

    color: black;
    background-color: orange;
}
/* .box-select:hover{
    background-color: orange;
    transition: 0.5s;
} */
.special-box{
    height: min-content;
}

.option-inactive{
    background-color: transparent;
}
.option-inactive:hover{
    background-color: #ececec;
    color: black !important;
    transition: 0.3s;
}