.box-text .MuiGrid-container{
    width: 350px;
}
.grid-contain{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    grid-gap: 5px;
    width: 100%;
}
.box-select{
    width: 100%;
    font-size: 16px;
    color: white;
    padding: 4px;
    text-indent: 10px;
    
    cursor: pointer;
    border-radius: 8px;
    text-align: left;
    margin-left: 5px;
    padding-bottom: 8px;
}
.option-active{

    color: black;
    background-color: orange;
}
/* .box-select:hover{
    background-color: orange;
    transition: 0.5s;
} */
.special-box{
    height: min-content;
}

.option-inactive{
    background-color: transparent;
}
.option-inactive:hover{
    background-color: #ececec;
    color: black !important;
    transition: 0.3s;
}
.type-box-typo{
    background-color: #343A40;
    border-radius: 12px;
    height:min-content;
    margin-top:20%;
  }